$colorPrincipal: #fcd10c;
$colorbordes: rgb(119, 119, 119);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, serif;
}

main {
    background-color: #d8d8d8;
}

hr {
    margin: 0;
    opacity: 1;
}

ul,
ol {
    list-style: none;
}

@mixin flexbox ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin sombra {
    box-shadow: 3px 3px 10px;
}

@mixin recuadro {
    border: solid $colorbordes 2px;
    border-radius: 2vw;
}

@mixin img {
    object-fit: contain;
}

@keyframes ventabre {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes ventcierra {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

