$colorPrincipal:#fcd10c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, serif;
}

main {
    background-color: #d8d8d8;
}
hr {
    margin: 0;
    opacity: 1;
}

ul, ol {
    list-style: none;
}

@mixin flexbox ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}



