* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: #d8d8d8;
}

/* imagen del header */
.imgpiro {
    height: 7rem;
    width: 7rem;
    overflow: hidden;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: left;
    position: absolute;
    top: 0%;
}

/* colores del header */
.header {
    background: linear-gradient(to right,
            #fcd10c 0%,
            #fcd10c 40%,
            #aadac3 70%,
            #00b9f2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

.tituloprinc {
    font-family: "montserrat", Arial;
}

/* inicio del navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
    background-color: #bebdbd;
}

.btn1 {
    padding: 4px 14px;
    color: #000;
    letter-spacing: 4px;
    font-size: 18px;
    text-decoration: none;
}


/* final del navbar */

.Bienvenidos {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-style: italic;
    height: 100%;
    width: 100%;
}

/* imagen del hospi */
.imgbienv {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.imghospital {
    height: 100%;
    width: 50%;
}

/* Texto de bienvenida */
.pbienvenida {
    font-size: 24px;
    text-align: justify;
    padding: 1rem 2rem;
}

/* inicio footer */
.pie1 {
    background-color: #fcd10c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 5px;
}

.ba {
    height: 1.5rem;
}

.IG {
    height: 1.5rem;
    border-radius: 50%;
}

.FB {
    height: 1.5rem;
    border-radius: 50%;
}

/* final footer */

/* articulos del index */
.articulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: justify;
    padding: 2rem;
}

.articulo1,
.articulo2,
.articulo3 {
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
}

.articulos p {
    padding: 2rem;
}

.fttomo {
    height: 15rem;
    width: 25rem;
}

.ftbomba {
    height: 25rem;
    width: 25rem;
}

/* indicio estudios */
.listaestudios {
    font-family: "montsserat", arial;
    line-height: 2em;
    padding-left: 3rem;
}

.estudioslistados {
    display: flex;
    text-align: justify;
    justify-content: center;
}

.convinacionestudios {
    display: flex;
    text-align: justify;
    justify-content: center;
}

/* final estudios */
/* arranca nosotros */
.imgnosotros {
    display: flex;
    justify-content: space-around;
    height: 23rem;
    padding: 2rem;

}

.Bruno,
.Santti,
.Lijo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.textonosotros {
    display: flex;
    text-align: justify;
    font-size: 24px;
    padding: 1.5rem;
}

/* termina nosotros */