* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: #d8d8d8;
}

/* imagen del header */
.imgpiro {
    height: 7rem;
    width: 7rem;
    overflow: hidden;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: left;
    position: absolute;
    top: 0%;
}

/* colores del header */
.header {
    background: linear-gradient(to right,
            #fcd10c 0%,
            #fcd10c 40%,
            #aadac3 70%,
            #00b9f2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

.tituloprinc {
    font-family: "montserrat", Arial;
}

/* inicio del navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
    background-color: #bebdbd;
}

.btn1 {
    padding: 4px 14px;
    color: #000;
    letter-spacing: 4px;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btn1:hover {
    background: #7e7e7e;
    box-shadow: 0 0 5px #7e7e7e, 0 0 10px #7e7e7e, 0 0 15px #7e7e7e;
    color: aliceblue;
}

/* final del navbar */

.Bienvenidos {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-style: italic;
    height: 100%;
    width: 100%;
}

/* imagen del hospi */
.imgbienv {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imghospital {
    height: 100%;
    width: 50%;
}

/* Texto de bienvenida */
.pbienvenida {
    font-size: 24px;
    text-align: justify;
    padding: 1rem 2rem;
}

/* articulos del index */
.articulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: justify;
    padding: 2rem;
}

.articulo1,
.articulo2,
.articulo3 {
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    border: solid rgb(119, 119, 119) 2px;
    border-radius: 20px;
    margin: 0.5rem 0rem;
}

.articulos p {
    padding: 2rem;
}

.fttomo {
    height: 15rem;
    width: 25rem;
}

.ftbomba {
    height: 25rem;
    width: 25rem;
}

/* inicio footer */
.pie1 {
    background-color: #fcd10c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.ba {
    height: 1.5rem;
}

.IG {
    height: 1.5rem;
    border-radius: 50%;
}

.FB {
    height: 1.5rem;
    border-radius: 50%;
}

/* final footer */

/* indicio estudios */
.lista {
    font-family: "montsserat", arial;
    line-height: 2em;
    padding-left: 3rem;
}

.estudioslistados {
    display: flex;
    text-align: justify;
    justify-content: center;
}

.convinacionestudios {
    display: flex;
    text-align: justify;
    justify-content: center;
}

/* tooltip de estudios */

.salida:active .tooltip1 {
    opacity: 1;
    transform: translate(200px, -60px);
}

.salida:active .tooltip2 {
    opacity: 1;
    transform: translate(300px, -150px);
}

.salida:active .tooltip3 {
    opacity: 1;
    transform: translate(300px, -300px);
}

.salida:active .tooltip4 {
    opacity: 1;
    transform: translate(300px, -300px);
}

.salida:active .tooltip5 {
    opacity: 1;
    transform: translate(300px, -300px);
}

.tooltip1,
.tooltip2,
.tooltip3,
.tooltip4,
.tooltip5 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    opacity: 0;
    transform: translate(-100px, 0px);
    transition: transform 0.8s ease, opacity 0.8s ease;
    background-color: rgb(248, 166, 112);
    margin-left: 18rem;
}

/* imgtool referido a la mimagen del tolltip */
.imgtool {
    height: 15rem;
    width: 15rem;
}
/* preparacion */
.intro-seguridad {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0rem;
}
.titulo-seguridad {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    /* text-decoration-color: linear-gradient(to right, white, black) ; */
    text-decoration-color: computed;
    padding: 2rem 1rem;
    border: solid rgb(150, 149, 149);
    border-radius: 20px;
    /* background: linear-gradient(to bottom left, yellow 5%, black); */
}
.img-contraste {
    height: 15rem;
}
/* arranca nosotros */
.imgnosotros {
    display: flex;
    justify-content: space-around;
    height: 18rem;
    padding: 1rem;

}

.Bruno,
.Santti,
.Lijo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.textonosotros {
    display: flex;
    text-align: justify;
    font-size: 20px;
    padding: 1.5rem;
}
/* Lista personal completo */
.personal {
    margin: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}
.jefes {
    grid-column: span 2;
    text-align: center;
}
.medicos1 {
    list-style: none;
}
.administrativos1 {
    list-style: none;
}
.medguardia1 {
    list-style: none;
}
.tecnicos1 {
    list-style: none;
}

/* inicia contacto */
/* formulario */
.formulario {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    width: 50rem;
    height: 20rem;
    padding: 1em;
}

.filiatorio1,
.filiatorio2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cotenedorconsulta {
    height: 8rem;
    width: 100%;
}

.consulta {
    display: flex;
    justify-content: center;
    height: 8rem;
    width: 100%;
}

.maps {
    display: flex;
    justify-content: center;
}

/* textos de contacto */
.textocontacto {
    display: inline-block;
    font-size: 18px;
    text-align: justify;
    padding: 1rem 1rem;
}