.estudios {
    width: 100%;
    @include flexbox (center, center);
    padding-top: 3vh;

    &__caja {
        @include flexbox (center, center);
        flex-direction: column;
        padding: 1vw;
        width: 80%;
        font-size: 2.5vw;
        text-align: center;
        @include sombra ();
        @include recuadro ();
    }

    &__listados,
    &__convinacion {
        @include flexbox (center, none);
        padding: 1vw;
    }

    &__seleccion {
        display: none;
    }

}

.contenedor__estudios {

    .lista-estudios {
        padding: 6vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 3.5vw;

        .estudios__boton {
            display: none;
        }

        .lista__inf {
            padding-left: 1vw;
        }

        .lista {
            @include flexbox (space-around, center);
            border: solid $colorbordes 3px;
            padding-left: 2vw;
            border-radius: 1vw;
            transition: 0.5s;

            &__img {
                width: 60%;
                @include img
            }

            &:hover {
                box-shadow: 3px 3px 10px;

            }
        }

        .check-estudios,
        .ventana1 {
            display: none;
        }
    }
}

// ===================================BREAKPOINT=================================================
@media (min-width: 1024px) {

    .estudios {

        &__caja {
            font-size: 1.5vw;
        }

        .estudios__listados {
            @include flexbox (center, none);
            text-align: justify;
            padding: 1vw;
        }

        .estudios__seleccion {
            @include flexbox (center, none);
            text-align: justify;
            padding: 0.5vw;
        }
    }

    .contenedor__estudios {
        @include flexbox (center, none);
        // padding-bottom: 10vh;

        .lista-estudios {
            padding: 6vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            font-size: 1.5vw;
            grid-template-areas:
                "cerebro cuello"
                "torax abdomen";


            .cerebro {
                grid-area: cerebro;
            }

            .cuello {
                grid-area: cuello;
            }

            .torax {
                grid-area: torax;
            }

            .abdomen {
                grid-area: abdomen;
            }

            .lista {
                &__img {
                    width: 40%;
                }
            }
        }

        .ventana1 {
            width: 50vw;
            height: auto;
            flex-direction: column;
            align-items: center;
            position: absolute;
            margin-left: 18rem;
            text-align: center;
            border-radius: 8px;
            background-color: #a1a1a1fd;

        }

        .check-estudios:checked~.ventana1 {
            display: flex;
            animation-name: ventabre;
            animation-duration: 2s;
        }

        .check-cierre {
            position: absolute;
            align-self: flex-end;
            font-size: 1.8vw;
            width: 5%;
            background: rgb(58, 58, 58);
            color: white;
            opacity: 70%;

        }

        .check-cierre:hover {
            background-color: red;
        }

        .tooltip {
            @include flexbox (center, center);
            gap: 1vw;

            &__img {
                width: 40%;
                @include img
            }
        }

        .ptool {
            font-size: 1.5vw;
        }

        //==============Psosicionamiento de ventanas============================
        .vent_cerebro {
            top: 50%;
            left: 25%;
        }

        .vent_cuello {
            top: 50%;
            right: 48%;

        }

        .vent_torax {
            top: 85%;
            left: 25%;
        }

        .vent_abdomen {
            top: 85%;
            right: 48%;
        }
    }
}