.bienvenida {
    &__titulo {
        @include flexbox (center, none);
        text-align: center;
        font-family: "montserrat", Arial;
        font-size: 2rem;
    }

    &__bienvenidos {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-style: italic;

    }

    .imgbienv {
        width: 100%;
        @include flexbox (center, center);
        overflow: hidden;

        &__carrusel {
            width: 75%;
        }
    }

    &__texto {
        font-size: x-large;
        text-align: justify;
        padding: 1rem 2rem;
    }
}

.articulos {

    display: grid;
    justify-content: center;
    text-align: justify;
    padding: 1vh 2vh;

    &__tarjeta {
        display: flex;
        flex-direction: column;
        margin: 1vw 0;
        padding: 1vw 1vw;
        align-items: center;
        justify-content: center;
        @include recuadro ();
        @include sombra ();
    }

    p {
        padding: 2vw;
        text-align: justify;
        font-size: 1.5rem;
    }

    &__img {
        height: 100%;
    }
}

@media (max-width:1200px) {

    .articulos {
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1vh;

        &__img {
            width: 80%;
            object-fit: cover;
        }
    }

    .imgbienv__carrusel {
        width: 90%;
    }
}


@media (min-width:1200px) {

    .articulos {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5vh;

        &__img {
            width: 100%;
        }
    }
}