.bienvenida {
    &__titulo {
        @include flexbox (center, none);
        text-align: center;
        font-family: "montserrat", Arial;
        font-size: 2vw;
    }

    &__bienvenidos {
        display: flex;
        justify-content: center;
        font-style: italic;
        font-size: 2vw;

    }

    .imgbienv {
        width: 100%;
        @include flexbox (center, center);
        overflow: hidden;

        &__carrusel {
            width: 75%;
        }
    }

    &__texto {
        font-size: 1.5vw;
        text-align: justify;
        padding: 1rem 2rem;
    }
}

h3 {
    @include flexbox (center, center);
    margin: 1vw;

    .h3__caja {
        font-size: 2vw;
        padding: 2vw;
        @include sombra ();
        @include recuadro ();
    }
}

.articulos {

    display: grid;
    justify-content: center;
    text-align: justify;
    padding: 1vh 2vh;

    &__tarjeta {
        display: flex;
        flex-direction: column;
        margin: 1vw 0;
        padding: 1vw 1vw;
        align-items: center;
        justify-content: center;
        @include recuadro ();
        @include sombra ();
    }

    p {
        padding: 2vw;
        text-align: justify;
        font-size: 1.5vw;
    }

    &__img {
        height: 100%;
        @include img
    }
}

@media (max-width:1200px) {

    .bienvenida {
        &__titulo, &__bienvenidos {
        font-size: 4vw;
        }
        &__texto {
            font-size: 2.5vw;
        }
    }
    
    h3 {

    .h3__caja {
        font-size: 3vw;
    }
    }
    .articulos {
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1vh;

        p {
            font-size: 3vw;
        }


        &__img {
            width: 80%;
            @include img
        }
    }

    .imgbienv__carrusel {
        width: 90%;
    }
}


@media (min-width:1200px) {

    .articulos {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5vh;

        &__img {
            width: 100%;
        }
    }
}