.seguridad {
    @include flexbox (space-around,center);
    width: 100%;
    padding: 4vh 1vw;

    &__titulo {
        @include flexbox (center,center);
        font-size: 2.5rem;
        padding: 2vw 1vw;
        @include recuadro ();
        @include sombra ();
    }

    &__img {
        display: none;
        @include img
    }

    @media (min-width:720px) {
        &__img {
        display: flex;
        width: 20vw;
        }
    }
}

    .indicaciones {
        padding: 3vh;
        padding-bottom: 40vh;

    &__p {
        text-align: justify;
    }
}