.seguridad {
    @include flexbox (space-around,center);
    width: 100%;
    padding: 4vh 1vw;

    &__titulo {
        @include flexbox (center,none);
        font-size: 3rem;
        padding: 2rem 1rem;
        @include recuadro ();
        @include sombra ();
    }

    &__img {
        display: none;
    }

    @media (min-width:1200px) {
        &__img {
        display: flex;
        height: 15rem;
        }
    }
}

    .indicaciones {
        padding: 3vh;
        padding-bottom: 40vh;

    &__p {
        text-align: justify;
    }
}