.seguridad {
    @include flexbox (space-around, center);
    width: 100%;
    padding: 4vh 1vw;

    &__titulo {
        @include flexbox (center, center);
        font-size: 7vw;
        padding: 2vw 1vw;
        @include recuadro ();
        @include sombra ();
    }

    &__img {
        display: none;
        @include img
    }


}

.indicaciones {
    padding: 3vh;
    padding-bottom: 30vh;
    font-size: 2vw;


    &__p {
        text-align: justify;
    }
}

@media (min-width:720px) {
    .seguridad {
        &__img {
            display: flex;
            width: 20vw;
        }

        &__titulo {
            font-size: 4vw;
        }
    }
    .indicaciones {
        font-size: 1.5vw;
        padding: 3VH;
    }
}